# for flashing : press boot button for 2-3 seconds before the serial connection initialize
# After OTA update, the EN (reset) button must be pressed to run firmware
# do not use gpio12 (MTDI)

substitutions:
  name: floor-heating-controller-eg
  friendly_name: "Floor heating EG"
  #must only consist of lowercase characters, the underscorecharacter and numbers. The character '#' cannot be used.
  ch1_thermostat_name: pid_flur_eg
  ch1_thermostat_sensor: flur_return_temperature_sensor  #name of the sensor
  ch1_default_target_temperature: 20 °C
  
  ch2_thermostat_name: pid_wc_eg 
  ch2_thermostat_sensor: wc_eg_return_temperature_sensor
  ch2_default_target_temperature: 22 °C
  
  ch3_thermostat_name: pid_wozi1
  ch3_thermostat_sensor: wozi1_return_temperature_sensor
  ch3_default_target_temperature: 22 °C
  
  ch4_thermostat_name: pid_wozi2
  ch4_thermostat_sensor: wozi2_return_temperature_sensor
  ch4_default_target_temperature: 22 °C
  
  ch5_thermostat_name: pid_kitchen 
  ch5_thermostat_sensor: kitchen_return_temperature_sensor
  ch5_default_target_temperature: 22 °C

  TZ: "Europe/Berlin" #timezone
  
  #all chars exept $
  ch1_cover_name: ventil_flur_eg
  ch2_cover_name: ventil_wc_eg
  ch3_cover_name: ventil_wozi1
  ch4_cover_name: ventil_wozi2
  ch5_cover_name: ventil_kueche

  opened_current: "0.035"   
  closed_current: "0.035"

  pid_return_kp: "0.1"        # % valve position for an error of 1K.
  pid_return_ki: "0.0001"     # Kp / (Tn*60) | Tn in Hours, Sensor Update Rate 60s
  integrator_limit: "0.3"     # Limti to 30% opening. Rest of the range is useless because drive is away from the valve

  valve_open_time: "10s"
  valve_close_time: "15s"
  valve_max_time: "25s"

packages:
  wifi: !include wifi.yaml
  board: !include board.yaml
  time: !include time.yaml
  climate: !include climate.yaml
  analog_threshold: !include analog_threshold.yaml
  switch_gpio: !include switch_gpio.yaml
  switch_others: !include switch_others.yaml
  covers: !include covers.yaml
  sensor_adc: !include sensor_adc.yaml
  sensor_temperature: !include sensor_temperature.yaml
  sensor_others: !include sensor_others.yaml
  
web_server:
  port: 80    

