# for flashing : press boot button for 2-3 seconds before the serial connection initialize
# After OTA update, the EN (reset) button must be pressed to run firmware
# do not use gpio12 (MTDI)

substitutions:
  name: floor-heating-controller-og
  friendly_name: "Floor heating OG"
  #must only consist of lowercase characters, the underscorecharacter and numbers. The character '#' cannot be used.
  ch1_thermostat_name: pid_bad
  ch1_thermostat_sensor: bad_room_temperature_sensor  #name of the sensor
  ch1_default_target_temperature: 21 째C
  
  ch2_thermostat_name: pid_kilian 
  ch2_thermostat_sensor: kilian_room_temperature_sensor
  ch2_default_target_temperature: 21 째C
  
  ch3_thermostat_name: pid_tessa
  ch3_thermostat_sensor: tessa_room_temperature_sensor
  ch3_default_target_temperature: 21 째C
  
  ch4_thermostat_name: pid_flur_og
  ch4_thermostat_sensor: flur_og_room_temperature_sensor
  ch4_default_target_temperature: 20 째C
  
  TZ: "Europe/Berlin" #timezone
  
  #all chars exept $
  ch1_cover_name: ventil_bad
  ch2_cover_name: ventil_kilian 
  ch3_cover_name: ventil_tessa
  ch4_cover_name: ventil_flug_og

  opened_current: "0.035"   
  closed_current: "0.035"

  pid_return_kp: "0.1"        # % valve position for an error of 1K.
  pid_return_ki: "0.0001"     # Kp / (Tn*60) | Tn in Hours, Sensor Update Rate 60s
  integrator_limit: "0.3"     # Limti to 30% opening. Rest of the range is useless because drive is away from the valve

  valve_open_time: "10s"
  valve_close_time: "15s"
  valve_max_time: "25s"

packages:
  wifi: !include wifi.yaml
  board: !include board.yaml
  time: !include time.yaml
  climate: !include climate.yaml
  analog_threshold: !include analog_threshold.yaml
  switch_gpio: !include switch_gpio.yaml
  switch_others: !include switch_others.yaml
  covers: !include covers.yaml
  sensor_adc: !include sensor_adc.yaml
  sensor_temperature: !include sensor_temperature.yaml
  sensor_others: !include sensor_others.yaml
  
web_server:
  port: 80    

